version: "3.9"

services:
  backend:
    build:
      context: ./solarmetrics-back
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod

  frontend:
    build:
      context: ./solarmetrics
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
